<footer class="site-footer" style="margin-left: 30px">
  <div class="container">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1" style="width: 25%">
        <img src="/images/logo_fiit.jpg" width="20%" height="20%" style="margin-left: 15px">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2 my-footer">

        <p class="text">{{ site.description }}</p>

      </div>

      <div class="footer-col  footer-col-3" style="width: 40%">

          {% if site.my_name %}

            <p>Autorku môžte kontaktovať aj prostrednítvom Akademického informačného systému AIS:

            <a href="https://is.stuba.sk/auth/lide/clovek.pl?id=52980;">


              <span class="username">{{ site.my_name }}</span>
            </a></p>
          {% endif %}
      </div>
    </div>

  </div>
</footer>
