.img-my {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.foto {
  width: 30%;
  height: 30%;
}

.menu-item {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

.contact-form {
  margin-left:auto;
  margin-right:auto;
  max-width: 500px;
  background: #FFF;
  padding: 30px 30px 20px 30px;
  box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #666;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

.contact-form label {
  display: block;
  margin: 0px 0px 5px;
}

.contact-form textarea {
  color: #555;
  width: 100%;
  padding: 5px 0px 0px 5px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 16px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  line-height:15px;
  outline: 0;
  -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
  box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

.contact-form .btn {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d) );
  background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
  background-color:#ff5bb0;
  border-radius:9px;
  -webkit-border-radius:9px;
  -moz-border-border-radius:9px;
  border:1px solid #ee1eb5;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height: 40px;
  line-height: 30px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #c70067;
}

.contact-form .btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0) );
  background:-moz-linear-gradient( center top, #ef027d 5%, #ff5bb0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0');
  background-color:#ef027d;
}

.date {
  font-size: 10px;
  text-decoration-line: underline;
}

.description {
  margin-top: 15px;
}

.my-header {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #445588), color-stop(0.50, #0086B3) );
  background:-moz-linear-gradient( center top, #445588 5%, #0086B3 30% );
  padding: 10px 0px 16px 20px;
}

.my-header a {
  color: white;
}

.my-header a:hover {
  color: white;
  font-weight: bold;
}

.right {
  float: right;
  width: 75%;
  padding: 35px 100px 0 30px;
}

.left {
  float: left;
  width: 20%;
  margin-left: 20px;
}

.my-footer {
  margin-right: 100px;
  width: 25%;
}